<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>HelloWorld</filter-name>
        <filter-class>dugger.demo.scalatra.HelloWorldFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HelloWorld</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>